body {
background-color: #1c20e9;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #93f916;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}